html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-image: url("background.png");
}

.control-component {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(220deg, #232144 0, #07070E 100%) no-repeat
  padding-box;
}

.inactive {
 /* opacity: 40%; */
}

.control-component-inside {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  background: linear-gradient(90deg, #232144 0, #07070E 100%) no-repeat
  padding-box;
  border-radius: 15px;
}
